{% extends 'base.html.twig' %}

{% block title %}Результат поиска{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item"><a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('blog_post') }}" class="btn btn-primary">На главную</a>
{% endblock %}